*{box-sizing: border-box;}
body{
   font-family: 'Roboto', sans-serif;
   background-image: url("images/patt.png");
}
.container{
    width: 1200px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.75);
}
.row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
[class*="col-"]{
    padding-left: 15px;
    padding-right: 15px;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.menu{
    display: flex;
}
.menu li{
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu li:last-child{
    border-right:1px solid #2c71b8;
}
.menu a{
    height: 50px;
    text-decoration: none;
    display: block;
    font-size: 21px;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
}